*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background:antiquewhite;
}

.frame span{
    cursor: pointer;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: baseline;
    height: 5vw;
    /* background-color: red; */
    text-align: center;
    font-size: 5vw;
    font-weight: 600;
    transform: translateY(-5vw);
}

.frame{
    position: relative;
    z-index: 2;
    overflow: hidden;
    height: 5vw;
    /* background-color:yellow; */
}

#circle{
    z-index: 1;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    transform:translate(-50%,-50%) ;
    border-radius:50% ;
    width: 3vw;
    height: 3vw;
    background-color: #a07de0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}

#frames{
    display: flex;
    gap: 20px;
}